{% block endbody %}
{% load static %}

<div id="helpInfo" class="hidden"> 
  <div class="container-fluid">
  
    <div class="row" style="text-align: center;">
    <div class="col-sm-5 col-5"></div> 

  <div class="col-sm-2 col-2">
    <h4>Kontakta oss</h4>
    <div class="card">
      <div class="card-body text-justify" style="font-family: Calibri;">
        Om ni har frågor eller funderingar gällande OLLI begreppstjänst 
        får ni gärna mejla oss på <span style="color:blue">informatik@vgregion.se</span>
      </div>
    </div>
    </div>
    
    <div class="col-sm-5 col-5"></div> 
</div>


<div class="row mt-4" style="text-align: center;">
    <div class="col-sm-3 col-3"></div> 

  <div class="col-sm-6 col-6">
    <h4>Använda OLLI</h4>
    <div class="card">
      <div class="card-body text-justify" style="font-family: Calibri;" ><p>
        <p class="p">Skriv in början på den textsträng du söker i sökfältet. En lista med begrepp som innehåller strängen visas under sökfältet. När ett begrepp dyker upp kan man se begreppets term, eventuella synonymer, definition och eventuell term på annat språk i listan.</p>

        <p>När man söker i OLLI görs sökningen på hela begreppet, det vill säga inte bara på begreppets term utan även på eventuella synonymer och term på annat språk. Sökresultatet kan därför visa begrepp där söksträngen inte markeras i listan. Man får då klicka in sig på begreppet för att se mer information och den sträng som är eftersökt. Vid sökning kommer sökt sträng markeras med gul överstrykning. Understrukna begrepp i definitionen markerar att detta är ett begrepp som finns i OLLI. Håll pekaren över begreppet så visas definitionen på detta begrepp.</p>
        
        <p>Ett begrepp i OLLI kan ha olika status. I söklistan och sökresultat visas status med färg och text</p>

        <p>När man klickar på ett begrepp i sökresultatet visas all information om begreppet. Följande rubriker används:</p>

        <table class="table table-striped table-bordered table-help">
          <tbody>
              <tr>
                  <td class="w-30">
                      Status
                  </td>
                  <td>
                    <div class="row justify-content-center">
                        <table class="table table-bordered table-help">
                            <tbody>
                            <tr>
                                <td class="table-success">Beslutad/ Definieras ej</td>
                                <td>Beslutad av Informatik och standardisering VGR</td>
                            </tr>
                            <tr>
                                <td class="table-success">Definieras ej</td>
                                <td>Allmänspråkligt begrepp eller begrepp som styrs av lagar och regelverk definieras inte i VGR. Se anmärkning.</td>
                            </tr>
                            <tr>
                                <td class="table-warning">Pågår</td>
                                <td>Begrepp under handläggning</td>
                            </tr>
                            <tr>
                                <td class="table-danger">Avråds</td>
                                <td>Termen avråds för användning i VGR</td>
                            </tr>
                            <tr>
                                <td class="table-danger">Avställd</td>
                                <td>Begrepp som är inaktuell och inte ska användas</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                  </td>
              </tr>
              <tr>
                  <td class="w-30">
                      Rekommenderad term
                  </td>
                  <td>
                      Den rekommenderade term som representerar begreppet
                  </td>
              </tr>
              <tr>
                  <td class="w-30">
                      Synonym
                  </td>
                  <td>
                    Ord som har samma betydelse som visst annat ord. Eventuella synonymer som är tillåtna som alternativ term. Här anges även synonymer som avråds med en röd bakgrund, dessa ska inte användas.</td>
              </tr>
              <tr>
                  <td class="w-30">
                      Definition
                  </td>
                  <td>
                    En formell definition av begreppets innebörd. Inleds en definition med &lt<em>domän</em>&gt betyder det att definitionen som följer begränsas till en viss domän eller sammanhang.

                    Ett begrepp kan ha flera definitioner, en s.k. homonym. Det anges med en siffra före respektive definition. Om vi inte definierar ett begrepp kan här hänvisas till anmärkningar.
                  </td>
              </tr>
              <tr>
                  <td class="w-30">
                      Källa
                  </td>
                  <td>
                      Källa för definitionen
                  </td>
              </tr>
              <tr>
                  <td class="w-30">
                      Anmärkning
                  </td>
                  <td>
                      Eventuella anmärkningar, kommentarer, exempel och hänvisningar som förtydligar eller avgränsar begreppets användning
                  </td>
              </tr>
          </tbody>
      </table>


        
      </div>
  </div>
</div>
<div class="col-sm-3 col-3"></div> 
</div>
  
  
  </div>
  
</div>
</div>
</body>
</html>
<style>
    .hidden {
        display: none;
    }
</style>

{% endblock endbody %}