{% load crispy_forms_filters %}

{% block mitten_span %}
<div id="opponera_bekräfta" class="md-5">
    <h5>Verifiera användning av begreppet</h5>
    	</div>
		  </div>			
		</div>
	  </div>
    <p>Bekräfta att begreppet används inom en kontext som du arbetar med. Fyll i e-postadress och ange den kontexten.</p>
    <form id="bekräfta_term_form" action="{% url 'bekräfta_term' %}", method='POST'>{% csrf_token %}
        {{ bekräfta|crispy }}
    <input type="submit" value="Skicka" id="bekräfta_button">
    </form>
</div>
{% endblock mitten_span %}

{% block extra_javascript %}
<script>
    $("#bekräfta_term_form").submit(function(event){
        event.preventDefault(); //prevent default action 
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = $(this).serialize(); //Encode form elements for submission
        
        $.ajax({
            url : post_url,
            type: request_method,
            data : form_data
        }).done(function(response){ 
            $("#mitten-span-middle-column").html(response);
            setTimeout(function(){
                $("#mitten-span-middle-column").html('<div id="mitten-span-middle-column"></div>')}, 2500);
        });
    });
</script>
{% endblock extra_javascript %}