{% block endbody %}
{% load static %}

<div id="helpInfo" style="display: none;"> 
  <div class="container-fluid">
  <div class="row" style="text-align: center;">
   <div class="col-sm-1"></div> 
  <div class="col-sm">
    <h4>Om Olli</h4>
      <div class="card">
      <div class="card-body text-justify" style="font-family: Calibri;">
          OLLI är VGR:s begreppstjänst, en ordlista över termer som används inom hälso- och sjukvård i VGR. 
          Begreppen representerar olika företeelser inom olika verksamheter som är relaterade till vården, 
          allt från rent klinisk terminologi till olika administrativa och tekniska begrepp. OLLI är tänkt 
          att användas som en uppslagsbok, ett stöd för ett enhetligt språk inom regionen. OLLI kan bidra 
          till en bättre förståelse inom hälso- och sjukvården, för hälso-och sjukvårdpersonal i olika delar 
          i regionen och olika verksamheter samt personal med administrativa uppgifter och andra stödfunktioner.
      </div>
    </div>
</div>
  <div class="col-sm">
    <h4>Använda Olli</h4>
    <div class="card">
      <div class="card-body text-justify" style="font-family: Calibri;" ><p>
          Skriv in början på den textsträng du söker i sökfältet. En lista med begrepp som innehåller strängen 
          visas under sökfältet. När ett begrepp dyker upp kan man se begreppets term, en definition och eventuella 
          synonymer i listan.     När man söker i OLLI görs sökningen på hela begreppet, det vill säga inte bara på 
          begreppets term utan även på eventuell term på annat språk och synonymer. Sökfunktionen kontrollerar också 
          om den textsträng du söker finns i definitionen, den svenska eller annat språk. Sökresultatet kan därför 
          visa begrepp där söksträngen inte syns i listan som visas automatiskt. Man får då klicka in sig på begreppet 
          för att se mer information om begreppet och den sträng som är eftersökt.
      </div>
  </div>
</div>
    
  <div class="col-sm">
    <h4>Kontakta oss</h4>
    <div class="card">
      <div class="card-body text-justify" style="font-family: Calibri;">
        Om ni har frågor eller funderingar gällande OLLI begreppstjänst 
        får ni gärna maila oss på informatik@vgregion.se
      </div>
    </div>
  </div>
  
  <div class="col-sm-1"></div> 
  </div>
  <div class="row top-buffer-15">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <h4 style="text-align: center;">Demo av Olli</h4>
        <div class="text-center">
          <video id="hjälp_video" preload="metadata" width="720px" height="410px" controls>
              <source src="{% static '/images/infomercial.mp4'%}" type="video/mp4">
              Your browser does not support the video tag.
          </video>
        </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
</div>
</body>
</html>
{% endblock endbody %}