{% extends 'base-front.html' %}
{% load static %}

{% block body_left_column %}
  {% include 'left-sidebar.html' %}
{% endblock body_left_column %}

{% block body_middle_column %}

{{ block.super }}

	<div class="col-lg-10 col-md-10 mt-4" id="search-row-middle-column">
	<div class="row">
		<div class="col-2" id="about-spacer-left"></div>
		<div class="col-8" id="om_olli">
			<div class="mx-auto">
				<h5 class="text-center">
					Om OLLI
				</h5>
			</div>
			<div class="card mt-3 base-color">
				<div class="card-body text-justify">
					OLLI är VGR:s begreppstjänst, en ordlista över termer som används inom hälso- och sjukvård. Tjänsten innehåller terminologi som är viktig för verksamheter inom hälso- och sjukvård. Tanken är att OLLI ska användas som en uppslagsbok och vara ett stöd för enhetligt språk inom VGR. För kliniska termer hänvisas till Snomed CT. <a href="https://insidan.vgregion.se/stod-och-tjanster/amnen-a-o/informatik/snomed-ct/" target="_blank">Läs mer om Snomed CT</a> (Endast åtkomligt för anställda i VGR)
				</div>
			</div>

			<div class="mt-4">
				<img src="{% static 'images/landing_image.png' %}" width="100%" height="100%">
			</div>

		</div>
		


		<div class="col-2" id="about-spacer-right"></div>
	</div>
	</div>

{% endblock body_middle_column %}

{% block body_right_column %}
  {% include 'right-sidebar.html' %}
{% endblock body_right_column %}