{% load static %}

<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-lite" id="search-row-left-column">
    <div class="d-flex flex-column align-items-center px-2 pt-4 text-white min-vh-100">
        <form id="filter-form" action="{% url 'concept' %}" method="get" >

                <div id="menu">
                    <div class="d-flex align-items-center">
                        <i id="search-icon" class="fas fa-search" aria-hidden="true"></i>
                        <input id="user-input" class="form-control form-control-md mb-2" style="flex:3" type="text"
                            placeholder="Sök" name="search_term" aria-label="{{searched_for_term}}">
                    </div>

                    <div class="d-flex justify-content-center">                
                        <button type="submit" class="btn btn-sm filter-action me-1 d-flex justify-content-center align-items-center">
                            <img src="{% static 'images/search.svg' %}" alt="Sök" width="16" height="16" class="icon-svg pr-1 align-middle me-1">
                            <span class="align-middle">Sök</span>
                        </button>                
                    </div>      
                    
                    <hr class="my-3 w-100" style="color: black;">

                    <div style="display: grid; grid-template-columns: repeat(5, 1fr); gap: 2px;">

                        {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZÅÄÖ" %}
                            <div style="text-align: center; padding: 2px; border: 1px solid #ccc;">
                                <a href="{% url 'concept' %}?search_term={{letter}}">{{ letter }}</a>
                            </div>
                        {% endfor %}
                    
                    </div>                    

                    <hr class="my-3 w-100" style="color: black;">

                    <div class="d-flex justify-content-center">
                        <div class="text-center">
                            <img src="{% static 'images/filter.svg' %}" alt="Filtrera" width="18" height="18" class="icon-svg mb-1">
                            <span class="h6 filter-header">Ordbok Filter</span>
                        </div>
                    </div>
                    
                    <div class="nav flex-column" id="itemList">
                        {% for dictionary in dictionaries %}
                        <div class="d-flex justify-content-center w-110 mt-1" data-item-id="{{dictionary.title}}">
                            <button type="button" name="dictionaries[]" class="btn btn-sm filter-button {% if dictionary.title in selected_dictionaries %}active{% endif %}" data-item-id="{{dictionary.title}}">
                                <span>{{dictionary.title}}</span>
                            </button>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="d-flex justify-content-center mt-3"> <!-- Adjust the margin-top as needed -->
                        <button type="button" class="btn btn-sm filter-action d-flex justify-content-center align-items-center" id="clear-button">
                            <img src="{% static 'images/clear-filter.svg' %}" alt="Nollställ" width="16" height="16" class="icon-svg align-middle me-1">
                            <span class="align-middle">Nollställ</span>
                        </button>
                    </div>
                </div>
                    
                

            <hr class="my-4 w-100" style="color: black;">
            <input type="hidden" name="dictionaries" id="selectedDictionariesField" value="">

     
            
        </form>

        <div class="d-flex justify-content-center justify-content-sm-start">
            <form method="GET" action="{% url 'request_new_term' %}?q="+{{requested_term}},>
                <button type="submit" class="btn text-center filter-button">Efterfråga begrepp</button>
            </form>            
          </div>
    </div>
</div>

<script>

// JavaScript to handle button clicks for dictionary filter and update hidden form field
function toggleActiveClass(button) {
    button.classList.toggle('active');
    updateHiddenField();
}

function updateHiddenField() {
    var selectedDictionaries = Array.from(document.querySelectorAll('.filter-button.active')).map(button => button.dataset.itemId);
    document.getElementById('selectedDictionariesField').value = selectedDictionaries.length > 0 ? selectedDictionaries.join(',') : '';
}



// JavaScript to clear the selected filter buttons
document.getElementById('clear-button').addEventListener('click', function() {
    document.querySelectorAll('.filter-button').forEach(button => {
        button.classList.remove('active');
    });
    updateHiddenField();
});

// JavaScript to toggle the 'active' class on filter buttons
document.querySelectorAll('.filter-button').forEach(button => {
    button.addEventListener('click', function() {
        this.classList.toggle('active');
        updateHiddenField();
    });
});

// function showLoader() {
//         // Make the loader container visible
//         console.log('showLoader function called');
//         // $('#om_olli').hide();
//         $('.search-row-middle-column').hide();
//         $('#loader-container').removeClass('d-none');
//         return false;
//     }


$(document).ready(function() {
    // Get the value of the 'search_term' parameter from the URL
    const searchParam = new URLSearchParams(window.location.search).get('search_term');

    // Set the value of the search input field
    $('#user-input').val(searchParam);
});

</script>