    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-lite">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-2 pt-2 text-white min-vh-100">
            <form id="filter-form" onsubmit="return false;">
                {% csrf_token %}
            
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

                <li>
                    <i id="search-icon" class="fas fa-search" aria-hidden="true"></i>
                    <input id="user-input" class="form-control form-control-md mb-2" style="flex:3" type="text" placeholder="Sök" aria-label="Sök" onfocus="clear_mittenspanrow()">
                </li>

                <hr class="my-3 w-100" style="color: black;">

                <li class="text-center">
                    <button id="apply-filter-btn" class="btn btn-sm btn-primary">    Filter</button>
                </li>

                <li>
                    <a href="#submenu1" data-bs-toggle="collapse" aria-expanded="true" role="button" aria-controls="submenu1" class="nav-link px-0 align-middle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                        </svg>
                        <span class="d-none d-sm-inline fw-bold">Dictionaries</span>
                    </a>
                    <div class="collapse show" id="submenu1">
                        <ul class=" nav flex-column ms-1 list-group" id="itemList">
                            {% for dictionary in dictionaries %}
                            <li class="w-100 filter-button" name="dictionary" data-item-id="{{dictionary.title}}">
                                <a href="#" class="nav-link px-0"><span class="d-none d-sm-inline ms-3 fs-7 list-group-item">{{dictionary.title}}</span></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>

                <!-- <li>
                    <a href="#submenu2" data-bs-toggle="collapse" aria-expanded="true" role="button" aria-controls="submenu2" class="nav-link px-0 align-middle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
                            <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                            <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
                        </svg>
                        <span class="d-none d-sm-inline fw-bold fs-6">Relationships</span>
                    </a>
                    <div class="collapse" id="submenu2">
                        <ul class="nav flex-column ms-1 list-group" id="itemList">
                            {% for type_of_relationship in relationship_types %}
                            <li class="w-200" data-list="typeOfRelationship" data-item-id="{{type_of_relationship.relationship}}">
                                <a href="#" class="nav-link px-0 "><span class="d-none d-sm-inline ms-3 fs-7 list-group-item">{{type_of_relationship.relationship}}</span></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li> -->
            </ul>

            <hr class="my-4 w-100" style="color: black;">
        </form>

        </div>
    </div>


<script>

</script>

<style>

.fs-7 {
    font-size: 0.6rem;
}

.list-group-item {
    border: 0px;
    padding: 4px;
    color: #6cb3ff;
  }

  .list-group-item.active {
      background-color: #007bff; /* Change to your desired selected item color */
      color: #fff; /* Change to your desired text color */
      padding: 4px;
      

    }

.nav-link {
    padding: 4px;
}

.list-group-item:hover {
    border: 1px solid #007bff; /* Change to your desired border color */
    padding: 4px;
  }
  </style>