{% load static %}
{% load config_filter %}

<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-lite" id="search-row-left-column">
    <div class="d-flex flex-column align-items-center px-2 pt-4 text-white min-vh-100">
        <form id="filter-form" action="{% url 'concept' %}" method="get" >

                <div id="menu">
                    <div class="position-relative">
                        <i id="search-icon" class="fas fa-search position-absolute start-0" aria-hidden="true"></i>
                        <input id="user-input" class="form-control form-control-md mb-2 ps-5" style="flex:3" type="text"
                            placeholder="{{ searched_for_term|default:'Sök' }}" name="search_term" aria-label="{{searched_for_term}}">
                        <div id="loading-indicator" style="display: none; position: absolute; top: 50%; right: 10px; transform: translateY(-50%);">
                            <!-- Add your loading spinner or progress meter here -->
                            <div class="spinner-border text-primary" role="status" style="width: 1.5rem; height: 1.5rem;">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">                
                        <button type="submit" class="btn btn-sm filter-action me-1 d-flex justify-content-center align-items-center">
                            <img src="{% static 'images/search.svg' %}" alt="Sök" width="16" height="16" class="icon-svg pr-1 align-middle me-1">
                            <span class="align-middle">Sök</span>
                        </button>



                    </div>      
                    
                    <hr class="my-3 w-100" style="color: black;">

                    {% config_filter queryset=config attribute="title" attribute_value="search_filter" as search_filter %}
                    
                    {% if search_filter.is_active %}

                    <div class="d-flex justify-content-center">
                        <div class="text-center">
                            <img src="{% static 'images/filter.svg' %}" alt="Filtrera" width="18" height="18" class="icon-svg mb-1">
                            <span class="h6 filter-header">Filter</span>
                        </div>
                    </div>
                    
                        <div class="nav flex-column" id="itemList">
                            {% for dictionary in dictionaries %}
                            <div class="d-flex justify-content-center w-110 mt-1" data-item-id="{{dictionary.title}}">
                                <button type="button" name="dictionaries[]" class="btn btn-sm filter-button {% if dictionary.title in selected_dictionaries %}active{% endif %}" data-item-id="{{dictionary.title}}">
                                    <span>{{dictionary.title}}</span>
                                </button>
                            </div>
                            {% endfor %}
                        </div>

                    <div class="d-flex justify-content-center mt-3"> <!-- Adjust the margin-top as needed -->
                        <button type="button" class="btn btn-sm filter-action d-flex justify-content-center align-items-center" id="clear-button">
                            <img src="{% static 'images/clear-filter.svg' %}" alt="Nollställ" width="16" height="16" class="icon-svg align-middle me-1">
                            <span class="align-middle">Nollställ</span>
                        </button>
                    </div>

                    <hr class="my-3 w-100" style="color: black;">
                    {% endif %}
                    
                    <div style="display: grid; grid-template-columns: repeat(5, 1fr); gap: 2px;">

                        {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZÅÄÖ" %}
                        <div style="text-align: center; padding: 2px; border: 1px solid #ccc;">
                            <a href="{% url 'concept' %}?search_term={{ letter }}&dictionaries={{ selected_dictionaries|join:','}}">{{ letter }}</a>
                            

                        </div>
                    {% endfor %}
                    
                    </div>                  
                </div>                

            <hr class="my-4 w-100" style="color: black;">
            <input type="hidden" name="dictionaries" id="selectedDictionariesField" value="">     
            
        </form>

        <div class="d-flex justify-content-center justify-content-sm-start">
            <form method="GET" action="{% url 'request_new_term' %}?q="+{{requested_term}},>
                <button type="submit" class="btn text-center filter-action wide-button">Efterfråga begrepp</button>
            </form>            
          </div>
    </div>
</div>

<script>

    // Function to update the hidden field with selected dictionaries
    function updateHiddenField() {
        var selectedDictionaries = Array.from(document.querySelectorAll('.filter-button.active')).map(button => button.dataset.itemId);
        document.getElementById('selectedDictionariesField').value = selectedDictionaries.join(',');
    }

    // Function to toggle the 'active' class on filter buttons and submit the form
    function toggleAndSubmit(event) {
        event.preventDefault(); // Prevent default form submission behavior
        this.classList.toggle('active'); // Toggle 'active' class
        updateHiddenField(); // Update hidden field with selected dictionaries
        showLoadingIndicator(); // Show loading indicator
        document.getElementById('filter-form').submit(); // Submit the form
    }

    // Function to show the loading indicator
    function showLoadingIndicator() {
        document.getElementById('loading-indicator').style.display = 'block';
    }

    // Function to hide the loading indicator
    function hideLoadingIndicator() {
        document.getElementById('loading-indicator').style.display = 'none';
    }

// Function to clear selected filter buttons, search input field, and submit the form
document.getElementById('clear-button').addEventListener('click', function() {
    document.querySelectorAll('.filter-button.active').forEach(button => {
        button.classList.remove('active');
    });
    updateHiddenField();
    const userInput = document.getElementById('user-input').value; // Get search input field value
    showLoadingIndicator(); // Show loading indicator
    document.getElementById('filter-form').submit(); // Submit the form to show original search results
});


    // Attach event listeners to filter buttons
    document.querySelectorAll('.filter-button').forEach(button => {
        button.addEventListener('click', toggleAndSubmit);
    });

    // Function to set search input value from URL parameter
    $(document).ready(function() {
        const searchParam = new URLSearchParams(window.location.search).get('search_term');
        $('#user-input').val(searchParam);
        hideLoadingIndicator(); // Hide loading indicator when the page is ready
    });

    // Function to hide the loading indicator when the form submission is complete
    document.getElementById('filter-form').addEventListener('submit', function() {
        hideLoadingIndicator();
    });

    // Attach event listener to the submit button
    document.getElementById('filter-form').addEventListener('submit', function() {
        showLoadingIndicator(); // Show loading indicator when the form is submitted
    });

</script>
