{% extends 'term.html' %}
{% load crispy_forms_filters %}

{# keep these blocks quiet as we do not want them with in this template #}
{% block header %}{% endblock header %}
{% block search_bar %}{% endblock search_bar %}

{% block mitten_span %}
<div id="mitten-span" >

<div id="opponera_bekräfta" class="md-5">
    <h5>Kommentera Begrepp</h5>
    <p>Fyll i kontaktuppgifter och avge sedan dina kommentarer om begreppet. Kommentaren bör på ett tydligt sett ange vad som avses och ska motiveras. Ange även den kontext som din kommentar härrör från. Kommentarerna kommer bearbetas av Begrepps Byrån.</p>
    <form id="opponera_term_form" action="{% url 'opponera_term' %}", method='POST'>{% csrf_token %}
        {{ opponera|crispy }}

    <input type="submit" value="Verkställ" id="opponera_button">
    </form>
</div>
</div>
{% endblock mitten_span %}

{% block extra_javascript %}

<script>
	
$("#opponera_term_form").submit(function(event){
	event.preventDefault(); //prevent default action 
	var post_url = $(this).attr("action"); //get form action url
	var request_method = $(this).attr("method"); //get form GET/POST method
	var form_data = $(this).serialize(); //Encode form elements for submission
	
	$.ajax({
		url : post_url,
		type: request_method,
		data : form_data
	}).done(function(response){ 
		$("#mitten-span").html(response);
		history.pushState(post_url, '',post_url)
        setTimeout(function(){
            $("#mitten-span").html('<div id="mitten-span"></div>')}, 2500);
	});
});

</script>

{% endblock extra_javascript %}