{% load crispy_forms_filters %}

{% block mitten_span %}

<div id="opponera_bekräfta" class="md-5">
	<h5>Kommentera Begrepp &nbsp;<button type="button"   class="btn btn-info btn-lg" data-toggle="modal" data-target="#Comment">Kommentera?</button></h5>
	<div class="modal fade" id="Comment" role="dialog">
		<div class="modal-dialog">		  
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">				
			  <h4 class="modal-title">Kommentera begrepp</h4>
			</div>
			<div class="modal-body">
			  <p style="font-family: Frutiger;">Kommentera begrepp
				Funktionen Kommentera är tänkt att vara en möjlighet att framföra synpunkter om ett begrepp, hur och var det används eller om det finns felaktigheter. Man kan också ange synonyma termer som kan vara aktuella, ev översättning m m. Det är viktigt att kommentaren tydligt anger vad som avses samt motiveras på ett adekvat sätt. Ange även den kontext som din kommentar gäller. Kommentarerna kommer sedan bearbetas av BegreppsByrån. Gör så här:
				<ul><li>1.	Tryck på knappen Kommentera</li><li>
				2.	Fyll i kontaktuppgifter men namn, E-post och telefon så att vi kan nå dig för att ställa frågor.</li><li>
				3.	Avge dina kommentarer om begreppet. Var så tydlig du kan! </li><li>
				4.	Tryck på Skicka</li> </ul>
				
				</p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>			
		</div>
	  </div>
  </div>
	
	
    <p>Fyll i kontaktuppgifter och avge sedan dina kommentarer om begreppet. Kommentaren bör på ett tydligt sett ange vad som avses och ska motiveras. Ange även den kontext som din kommentar härrör från. Kommentarerna kommer bearbetas av Begrepps Byrån.</p>
    <form id="opponera_term_form" action="{% url 'opponera_term' %}", method='POST'>{% csrf_token %}
        {{ opponera|crispy }}
    <input type="submit" value="Skicka" id="opponera_button">
    </form>
</div>
{% endblock mitten_span %}

{% block extra_javascript %}
<script>	
	$("#opponera_term_form").submit(function(event){
		event.preventDefault(); //prevent default action 
		var post_url = $(this).attr("action"); //get form action url
		var request_method = $(this).attr("method"); //get form GET/POST method
		var form_data = $(this).serialize(); //Encode form elements for submission
		
		$.ajax({
			url : post_url,
			type: request_method,
			data : form_data
		}).done(function(response){ 
			$("#mitten-span-middle-column").html(response);
			setTimeout(function(){
				$("#mitten-span-middle-column").html('<div id="mitten-span-middle-column"></div>')}, 2500);
		});
	});
</script>
{% endblock extra_javascript %}