{% load crispy_forms_filters %}
    {% if form %}
    
    Ingen term hittades<br><br>
    <h5>Beställ en ny term</h5>
    <form id="beställ_form" action="{% url 'hantera_term_request' %}", method='POST'>{% csrf_token %}
      
    {{ form|crispy }}

    {% else %}
        {% for term in begrepp %}
        {{ term.term }}
        {% endfor %}
    <h5>Ingen term hittades</h5>
    There is no form variable coming in
    {% endif %}
    <input type="submit" value="Submit">

</form>



<script>
    $("#beställ_form").submit(function(event){
	event.preventDefault(); //prevent default action 
	var post_url = $(this).attr("action"); //get form action url
	var request_method = $(this).attr("method"); //get form GET/POST method
	var form_data = $(this).serialize(); //Encode form elements for submission
	
	$.ajax({
		url : post_url,
		type: request_method,
		data : form_data
	}).done(function(response){ 
		$("#mitten-span").html(response);
	});
});

    </script>