{% extends 'base.html' %}

{% block preamble %}
{% endblock preamble %}

{% block mitten-span %}
{{ block.super }}

{% load crispy_forms_filters %}
    {% if form %}
    
    Sökningen gav ingen träff!<br><br>
    <h5>Önskemål om nytt begrepp</h5>
    <form id="beställ_form" action="{% url 'hantera_term_request' %}", method='POST'>{% csrf_token %}
      
    {{ form|crispy }}
        
    {% else %}
        {% for term in begrepp %}
        {{ term.term }}
        {% endfor %}
    <h5>Sökningen gav ingen träff!</h5>
    There is no form variable coming in
    {% endif %}
    <input type="submit" value="Skicka">

</form>

{% endblock mitten-span %}

{% block extra_javascript %}
<script>    

    $("#beställ_form").submit(function(event){
	event.preventDefault(); //prevent default action 
	var post_url = $(this).attr("action"); //get form action url
	var request_method = $(this).attr("method"); //get form GET/POST method
	var form_data = $(this).serialize(); //Encode form elements for submission
	
	$.ajax({
		url : post_url,
		type: request_method,
		data : form_data
	}).done(function(response){ 
        $("#mitten-span").html(response);
        history.pushState(post_url, '', post_url)
        setTimeout(function(){
            $("#mitten-span").html('<div id="mitten-span"></div>')}, 2500);
	});
});

    </script>
{% endblock extra_javascript %}