{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block search_bar %}
{% endblock search_bar %}


{% block header_row1_column_right %}
<a href="https://vgrinformatik.se/begreppstjanst"><img style="width: 50%;" src="{% static 'images/tillbaka.svg' %}"</a>
{% endblock header_row1_column_right %}

{% block mitten-span %}
{% if begrepp_full %}
<div class="row mt-10" id="mitten-span-row">

    <div class="col-2" id="mitten-span-left-column"></div>
    <div class="col-8" id="mitten-span-middle-column">
        <div id="förklaring" class="förklaring">
        <div class="searchTable">
        <table id="term_förklaring_tabell" class="table table-bordered">
            <tbody>
                <tr class="{{färg_status.begrepp}}">
                    <td>Status</td>
                    <td>{{begrepp_full.status}}</td>
                </tr>

                <tr class="{{färg_status.begrepp}}">
                    <td>Term</td>
                    {% if begrepp_full.status == "Avråds" %}
                        <td><s class="text-danger">{{begrepp_full.term}}</s></td>
                    {% else %}
                        <td>{{begrepp_full.term}}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Synonym</td>
                    <td>    
                            {% for list_item in synonym_full %}
                                {% if list_item.synonym is not None %}
                                    {% if list_item.synonym_status == "Avråds" %}
                                    - <button type="button" class="btn-sm btn-avrådd"><s>{{list_item.synonym}}</s></button>
                                    <br>
                                    {% else %}
                                        - {{list_item.synonym}}<br>
                                    {% endif %}                            
                                {% else %}
                                    -
                                {% endif %}
                            {% endfor %}
                    </td>        
                </tr>

                <tr class="{{färg_status.begrepp}}">
                    <td>Definition</td>
                    {% if begrepp_full.status == "Avråds" %}
                        <td><s class="text-danger">{{begrepp_full.definition}}</s></td>
                    {% else %}
                        <td>{{begrepp_full.definition}}</td>
                    {% endif %}
                </tr>
                <tr class="{{färg_status.begrepp}}">
                    <td>Källa</td>
                    {% if begrepp_full.status == "Avråds" %}
                        <td><s class="text-danger">{{begrepp_full.källa}}</s></td>
                    {% else %}
                        <td>{{begrepp_full.källa}}</td>
                    {% endif %}
                </tr>
                <tr class="{{färg_status.begrepp}}">
                    <td>Anmärkning</td>
                    {% if begrepp_full.status == "Avråds" %}
                        <td><s class="text-danger">{{begrepp_full.anmärkningar|default_if_none:'-'}}</s></td>
                    {% else %}
                        <td>{{begrepp_full.anmärkningar|default_if_none:'-'}}</td>
                    {% endif %}
                </tr>
                <tr class="{{färg_status.begrepp}}">
                    <td>ID VGR</td>
                    <td>{{begrepp_full.id_vgr}}</td>
                </tr>
                <tr class="{{färg_status.begrepp}}">
                    <td>Term på annat språk</td>
                    <td>{{begrepp_full.utländsk_term}}</td>
                </tr>
                <tr>
                    <td>Definition på annat språk</td>
                    <td>{{begrepp_full.utländsk_definition}}</td>
                </tr>
                <tr>
                    <td>Används i system</td>
                    <td>{{begrepp_full.term_i_system|default_if_none:'-'}}</td>
                </tr>
                <tr>
                    <td>Annan referens</td>
                    <td>{{begrepp_full.externt_register}}</td>
                </tr>
                <tr>
                    <td>Kod</td>
                    <td>{{begrepp_full.externt_id}}</td>
                </tr>
                <tr>
                    <td>Verifierad användning</td>
                    
                    <td>{% for domän in domän_full %}
                        - {{domän.domän_namn}}<br>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table> 
        
      </div>
        </div>
    </div>
    <div class="col-2" id="mitten-span-right-column"></div>
    </div>

        {% else %}
                <p>Ingen definition hittades...</p>
        {% endif %}

{% endblock mitten-span %}

{% block extra_javascript %}
{% endblock extra_javascript %}