{% extends 'base_front.html' %}
{% load static %}

{% block header %}
	{% block header_row1 %}
		{{ block.super }}
	{% endblock header_row1 %}
{% endblock header %}

{% block search_bar %}
<div class="row mt-5" id="search_bar_row">
	{% block search-left-column %}
	<div class="col-3" id="search-left-column"></div>
	{% endblock search-left-column %}
	{% block search-middle-column %}
<div class="col-6" id="search-middle-column">
    <div class="d-flex">
        <form class="d-flex w-100" method="GET" action="{% url 'begrepp' %}" onsubmit="return false;" role="search">
            <label for="category-select" class="sr-only">Välj ordbok att söka i</label>
            <select id="category-select" name="category" class="form-control form-control-md mr-4 custom-select" style="width: 220px;">
              {% for category_value, category_label in categories %}
                <option value="{{ category_value }}" {% if forloop.first %}selected{% endif %}>
                  {{ category_label }}
                </option>
              {% endfor %}
            </select>
          
            <div class="input-group w-100">
              <label for="user-input" class="sr-only">Sök</label>
              <div class="input-group-prepend">
                <span class="input-group-text" id="search-icon"><i class="fas fa-search" aria-label="Sökikon"></i></span>
              </div>
              <input id="user-input" name="q" class="form-control form-control-md" type="text" placeholder="Sök" aria-label="Sök fält för önskad term">
            </div>
          </form>
    </div>
    <nav aria-label="Alfabetisk navigation som väljer alla ord som börjar med en bokstav" class="mb-0">
        <ul class="list-inline d-flex justify-content-between flex-wrap mt-2">
          {% for letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZÅÄÖ'|make_list %}
            <li class="list-inline-item">
              <a href="{% url 'begrepp' %}?category={{ categories.0.0 }}&q={{ letter }}" data-letter="{{ letter }}">{{ letter }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
</div>

<script>
  var home_url ='{% url "begrepp" %}';
</script>
<script src="{% static 'javascript/captureInput.js' %}"></script>

{% endblock search-middle-column %}

	
	{% block search-right-column %}
		<div class="col-3" id="search-right-column"></div>
	{% endblock search-right-column %}
</div>
{% endblock search_bar %}

{% block replaceable-content %}

<section id="om_olli">
<div class="row mt-2" id="replaceable-content-row">
    <div class="col-4" id="replaceable-content-left-column"></div>
    <div class="col-4 text-left" id="replaceable-content-middle-column">

	<div class="row" style="text-align: center;"> 
		<h5 class="mx-auto" style="width: 100px;">Om OLLI</h5>
		  <div class="card mt-3" style="background-color:#aed9f0;">
		  <div class="card-body text-justify" style="font-family: Calibri;">
			<p>OLLI är VGR:s begreppstjänst, en ordlista över termer som används inom hälso- och 
			sjukvård. Tjänsten innehåller terminologi som är viktig för verksamheter inom hälso- 
			och sjukvård. Tanken är att OLLI ska användas som en uppslagsbok och vara ett stöd 
			för enhetligt språk inom VGR.</p>

            <p>För kliniska termer hänvisas till Snomed CT. <a href="https://insidan.vgregion.se/stod-och-tjanster/amnen-a-o/informatik/snomed-ct/" target="_blank" rel="noopener">Läs mer om Snomed CT</a>(Endast åtkomligt 
			för anställda i VGR)</p>
		  </div>
		</div>
	  </div>

	</div>
    <div class="col-4" id="replaceable-content-right-column"></div>
  </div>
</section>

{% endblock replaceable-content %}

{# end of the row containing the search bar #}

