{% load crispy_forms_filters %}
{% block förklaring %}

<div id="förklaring" class="förklaring">
{% if begrepp_full %}

<div class="searchTable">

<table id="term_förklaring_tabell" class="table table-bordered table-striped">
    <tbody>
        <tr>
            <td>Term</td>
            <td>{{begrepp_full.term}}</td>
        </tr>
        <tr>
            <td>Synonym</td>
            <td>    
                    {% for list_item in synonym_full %}
                        {% if list_item.synonym is not None %}
                            {% if list_item.synonym_status == "Avråds" %}
                            <strike>{{list_item.synonym}}</strike> ({{list_item.synonym_status}})<br>
                            {% else %}
                                {{list_item.synonym}} ({{list_item.synonym_status}})<br>
                            {% endif %}                            
                        {% else %}
                            -
                        {% endif %}
                    {% endfor %}
            </td>        
        </tr>        
        <tr>
            <td>Definition</td>
            <td>{{begrepp_full.definition}}</td>
        </tr>
        <tr>
            <td>Anmärkning</td>
            <td>{{begrepp_full.anmärkningar|default_if_none:'-'}}</td>
        </tr>        
        <tr>
            <td>Term på annat språk</td>
            <td>{{begrepp_full.utländsk_term}}</td>
        </tr>
        <tr>
            <td>Definition på annat språk</td>
            <td>{{begrepp_full.utländsk_definition}}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{begrepp_full.status}}</td>
        </tr>
        <tr>
            <td>VGR ID</td>
            <td>{{begrepp_full.vgr_id}}</td>
        </tr>
        <tr>
            <td>Externt ID</td>
            <td>{{begrepp_full.externt_id}}</td>
        </tr>
        <tr>
            <td>Externt register</td>
            <td>{{begrepp_full.externt_register}}</td>
        </tr>
        <tr>
            <td>Kontext</td>
            <td>
                {% for list_item in domän_full %}
                    {{list_item.domän_namn}}<br>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Kontext beskrivning</td>
            <td>{{begrepp_full.begrepp_kontext | urlize }}</td>
        </tr>

        <tr>
            <td><button id="opponera_button">Kommentera</button></td>
            <td><button id="bekräfta_button">Verifiera användning</button></td>
        </tr>
    </tbody>
</table> 
</div>

{% else %}
        <p>Ingen definition hittades...</p>
{% endif %}


</div>

<div id="opponera_bekräfta">

</div>

<script>

var MutationObserver = window.MutationObserver || window.WebKitMutationObserver || window.MozMutationObserver;
// create an observer instance
var observer = new MutationObserver(function(mutations) {
    mutations.forEach(function(mutation) {
        if (mutation.type === 'childList') {
            scrollSmoothToBottom();
            if ($('input[name=namn]').length > 0) {
                $('input[name=namn]').focus();
            } else {
                $('input[name=epost]').focus();
            }
    }
    });
});
 
// configuration of the observer:
var config = {childList: true}
 
var target = document.querySelector('#opponera_bekräfta');
// pass in the target node, as well as the observer options
observer.observe(target, config);
 

function get_form_function(url, div_to_replace, type_method){
        
        $.ajax({
            url : url,
            type : type_method,
            success: function(response){
                $(div_to_replace).html(response);
            }
        });

    }
    
$(document).ready(function(){
    $("#opponera_button").click(function(){
        
        get_form_function(url="{% url 'opponera_term' %}?q={{begrepp_full.term}}", 
                          div_to_replace="#opponera_bekräfta",
                          type_method="GET");
                        });
                          
    $("#bekräfta_button").click(function(){
        get_form_function(url="{% url 'bekräfta_term' %}?q={{begrepp_full.term}}", 
                          div_to_replace="#opponera_bekräfta",
                          type_method="GET"); 
                        });
    });

function scrollSmoothToBottom() {
    var div = document.getElementById("opponera_bekräfta");
    div.scrollIntoView({behavior : 'smooth'});
};


</script>

{% endblock %}