{% load crispy_forms_filters %}
{% block förklaring %}

<div id="förklaring" class="förklaring">
{% if begrepp %}

<div class="searchTable">
<h5>Term Förklaring</h5>

<table id="term_förklaring_tabell" class="table table-bordered">
    <tbody>
{% for attribut,values in begrepp.items %}
<tr>
    <td>{{attribut}}</td>
    <td>{{values}}</td>
</tr>
{% endfor %}
<tr>
    <td><button id="opponera_button">Opponera</button></td>
    <td><button id="bekärfta_button">Bekräfta</button></td>
</tr>
    </tbody>
</table> 
</div>

    {% else %}
                <p>No terms found.</p>
            {% endif %}


</div>

<div id="opponera_bekräfta">

</div>

<script>

function get_form_function(url, div_to_replace){
        
        $.ajax({
            url : url,
            type : 'GET',
            success: function(response){
                $(div_to_replace).html(response);
            }
        });
    }
    
$(document).ready(function(){
    $("#opponera_button").click(function(){
        get_form_function("{% url 'opponera_term' %}", "#opponera_bekräfta");});
    $("#bekräfta_button").click(function(){
        get_form_function("{% url 'bekräfta_term' %}", "#opponera_bekräfta");});
  });

</script>

{% endblock %}