
{% extends 'admin/base.html' %}
{% load static %}

{% block responsive %}
{{ block.super }}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="{% static '/css/admin_bootstrap_text_danger.css' %}">  

<script>

function change_link_anchor_text(data) {
	
    var inner_html = $('a').filter(function(data){
			return this.innerHTML == 'Kommenterade Begrepp';});
			if (data.unreadcomments == 0) {
					return inner_html
				} else {
					return inner_html.after('<span class="text-danger"> - ' + data.unreadcomments + "/" + data.totalcomments + " ej Beslutad</span>");
				};
}

function check_number_of_recent_comments() {

$.ajax({
		type: "GET",
		dataType: "json",
		url: "{% url 'unread_comments' %}",
	}).done(function(data, textStatus, jqXHR) {
		change_link_anchor_text(data);
	}).fail(function(data,textStatus,jqXHR) {        
		error: console.log('Unable to update unread comments', response);
		});
	}

$( document ).ready(function() {
	check_number_of_recent_comments();
});

</script>
{% endblock responsive %}