{% extends 'admin/change_form.html' %}
{% load i18n admin_urls static admin_modify %}

{% block content_title %}
<h1 class="page-title">
    {% if add %}
        {% trans "Lägg till" %} {{ opts.verbose_name }}
    {% else %}
        {% trans "Ändra" %} {{ original }}
    {% endif %}
</h1>

{% endblock %}


{% block responsive %}
{{ block.super }}

<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/custom_add_concept.css' %}" />
<script type="text/javascript" src="{% static 'javascript/jquery-ui.js' %}"></script>

<script>
    (function ($) {
        $(document).ready(function ($) {

            term_elem = document.getElementById("id_term")
            if (term_elem) {
                term_elem.addEventListener('input', function () {
                    suggestPreviousValues('id_term');
                })
            };

            källa_elem = document.getElementById("id_attributes-1-value_string")
            if (källa_elem) {
                källa_elem.addEventListener('input', function () {
                    suggestPreviousValues('id_attributes-1-value_string');
                })
            };

            function suggestPreviousValues(id_attr) {
                $(`#${id_attr}`).autocomplete({
                    source: function (request, response) {
                        // 👇 Extract the attribute directly from the known input ID
                        var parts = id_attr.split('_'); // e.g., ["id", "attributes-1", "value_string"]
                        var attribute = parts.length > 1 ? parts[1] : null;

                        if (!attribute) {
                            console.warn("Could not extract attribute from:", id_attr);
                            return;
                        }

                        var url_parts = window.location.pathname.split('/');
                        var sub_url = url_parts[1];

                        // Build the URL manually using template context + JS
                        let url_template = "{% url 'autocomplete_suggestions' 'REPLACE_ATTR' 'REPLACE_TERM' %}";
                        let url = url_template
                            .replace("REPLACE_ATTR", encodeURIComponent(attribute))
                            .replace("REPLACE_TERM", encodeURIComponent(request.term));

                        console.log('getting suggestions from - ' + url);

                        fetch(url)
                            .then(res => res.json())
                            .then(data => response(data))
                            .catch(err => {
                                console.error("Error fetching autocomplete suggestions:", err);
                            });
                    }
                });
            }


        });

    })(django.jQuery);
</script>
{% endblock responsive %}
