{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="action" value="{{ action_name }}">
    <input type="hidden" name="select_across" value="{{ select_across }}">
    {% for item in selected_action %}
    <input type="hidden" name="_selected_action" value="{{ item }}">
    {% endfor %}
    <h2>{% translate "Välj vilka ordlistor begreppet ska tillhöra." %}</h2>
    <label for="dictionaries">{% translate "Ordböcker" %}:</label>
    <select name="dictionaries" multiple>
        {% for dictionary in dictionaries %}
        <option value="{{ dictionary.dictionary_id }}">{{ dictionary.dictionary_name }}</option>
        {% endfor %}
    </select>
    <button type="submit" name="apply">{% translate "Välj orbok" %}</button>
</form>
{% endblock %}
