{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
        django.jQuery(document).ready(function() {
            // Function to hide or show the field based on ConfigOptions value
            function toggleFieldVisibility() {
                var configOptionValue = django.jQuery('#id_config_option').val();
                if (configOptionValue === 'some_value') {
                    django.jQuery('#id_dictionaries').closest('.form-row').hide();
                } else {
                    django.jQuery('#id_dictionaries').closest('.form-row').show();
                }
            }

            // Trigger the function on page load and when the ConfigOptions field changes
            toggleFieldVisibility();
            django.jQuery('#id_config_option').change(toggleFieldVisibility);
        });
    </script>
{% endblock extrahead %}


