{% extends "admin/change_list.html" %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
        django.jQuery(document).ready(function() {
            django.jQuery('.collapse-toggle').click(function() {
                django.jQuery('.filter').toggleClass('collapsed');
            });
        });
    </script>
{% endblock extrahead %}

{% block filters %}
    <div id="changelist-filter" class="filtered" style="margin-bottom: 8px">
        <h2>Filter</h2>
        <div class="module">
            <a href="javascript:void(0)" class="collapse-toggle">Toggle Filters</a>
            <div class="filter">
                {% if cl.has_filters %}
                    {% for spec in cl.filter_specs %}
                        <div class="grp-row">
                            {{ spec.render }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock filters %}
