{% extends 'admin/change_form.html' %}
{% load static %}

{% block responsive %}
{{ block.super }}

<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" />



<script type="text/javascript" src="{% static 'javascript/jquery-ui.js' %}"></script>

<script>
    (function($) {
        $(document).ready(function($) {

            term_elem = document.getElementById("id_term")
            if(term_elem){
                term_elem.addEventListener('input', function() { 
                suggestPreviousValues('id_term');
                })
            };           
            
            källa_elem = document.getElementById("id_källa")
            
            if(källa_elem){
                källa_elem.addEventListener('input', function() { 
                suggestPreviousValues('id_källa');
                })
            };

            function suggestPreviousValues(id_attr) {
            
            $(`#${id_attr}`).autocomplete({source: function (request, response) {

                var attribute = this.bindings[0].id.split('_')[1];
                var field_id = this.bindings[0].id;
                var url_parts = window.location.pathname.split('/');
                var sub_url = url_parts[1];
                if (sub_url == 'admin') {
                    var url = '/autocomplete_suggestions/' + attribute + '/' + request.term;    
                } else {
                    var url = '/' + sub_url + '/autocomplete_suggestions/' + attribute + '/' + request.term;    
                }
                console.log('site sub_url' + sub_url);
                console.log('getting suggestions from ' + url);
                var req = new XMLHttpRequest();
                req.responseType = 'json';                                         
                req.open('GET', url, true);
                req.send(null);
                req.onload  = function() {
                    response(req.response);                      
                }                                             
            }});
        };        
        
        });
        
    })(django.jQuery);
</script>
{% endblock responsive %}
