{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
        django.jQuery(document).ready(function() {
            // Function to hide or show the field based on ConfigOptions value
            function toggleFieldVisibility() {
                var configOptionValue = django.jQuery('#id_config_option').val();
                if (configOptionValue === 'some_value') {
                    django.jQuery('#id_dictionaries').closest('.form-row').hide();
                } else {
                    django.jQuery('#id_dictionaries').closest('.form-row').show();
                }
            }

            // Trigger the function on page load and when the ConfigOptions field changes
            toggleFieldVisibility();
            django.jQuery('#id_config_option').change(toggleFieldVisibility);
        });
    </script>
{% endblock %}

{% block admin_change_form_document_ready %}
    <script type="text/javascript"
            id="django-admin-form-add-constants"
            src="{% static 'admin/js/change_form.js' %}"
            {% if adminform and add %}
                data-model-name="{{ opts.model_name }}"
            {% endif %}>
    </script>
{% endblock admin_change_form_document_ready %}

{% block filters %}
    <div id="changelist-filter" class="filtered" style="margin-bottom: 8px">
        <h2>Filter</h2>
        <div class="module">
            <a href="javascript:void(0)" class="collapse-toggle">Toggle Filters</a>
            <div class="filter">
                {% if cl.has_filters %}
                    {% for spec in cl.filter_specs %}
                        <div class="grp-row">
                            {{ spec.render }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock filters %}
