{% extends 'admin/change_form.html' %}
{% load static %}


{% block content %}
    <style>
        .highlight-row {
            background-color: khaki; /* Highlight specific fields */
        }
    </style>

    <div class="form-container">
        {% for fieldset in adminform %}
            <div class="form-row{% if fieldset.name in adminform.form.highlight_fields %} highlight-row{% endif %}">
                {{ fieldset }}
            </div>
        {% endfor %}
    </div>

    {{ block.super }}
{% endblock %}

{% block responsive %}
{{ block.super }}

<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" />



<script type="text/javascript" src="{% static 'javascript/jquery-ui.js' %}"></script>

<script>
    (function($) {
        $(document).ready(function($) {

            term_elem = document.getElementById("id_term")
            if(term_elem){
                term_elem.addEventListener('input', function() { 
                suggestPreviousValues('id_term');
                })
            };           

            källa_elem = document.getElementById("id_källa")
            if(källa_elem){
                källa_elem.addEventListener('input', function() { 
                suggestPreviousValues('id_källa');
                })
            };            

            function suggestPreviousValues(id_attr) {
            
            $(`#${id_attr}`).autocomplete({source: function (request, response) {

                var attribute = this.bindings[0].id.split('_')[1];
                var field_id = this.bindings[0].id;
                var url_parts = window.location.pathname.split('/');
                var sub_url = url_parts[1];
                var url = "{% url 'autocomplete_suggestions' "<attribute>" "<search_term>" %}".replace("%3Cattribute%3E", attribute);
                var url = url.replace('%3Csearch_term%3E', request.term);
                console.log('getting suggestions from - ' + url);
                var req = new XMLHttpRequest();
                req.responseType = 'json';                                         
                req.open('GET', url, true);
                // req.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                req.send(null);
                req.onload  = function() {
                    response(req.response);                      
                }                                             
            }});
        };        
        
        });
        
    })(django.jQuery);
</script>
{% endblock responsive %}
