
{% extends "admin/base_site.html" %}
{% load static %}

{% block responsive %}
{{ block.super }}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/main.css' %}" />

</script>
{% endblock responsive %}

{% block content %}

{% if chosen_concepts|length > 10 %}
    <div class="container btn-danger p-2 my-2 border rounded shadow">
        Du har valt {{chosen_concepts|length}} begrepp/termer för att exportera, så termer kommer inte visas här.
    </div>

{% else %}
    <div class="container bg-pale-yellow p-2 my-2 border rounded shadow">
        <p class="h6">Du har valt följander begrepp eller termer för att exportera.</p></br>

        <ul>
        {% for concept in chosen_concepts %}
            <li>{{concept.term}}</li>
        {% endfor %}
        </ul>
    </div>
{% endif %}

    <div class="container bg-pale-yellow p-2 my-2 border rounded shadow">

        <p class="h6">Välja attribut som du vill inkludera i exportfilen</p></br>

        <form method="get" name="attr_export" action="{% url 'export_chosen_attrs'%}">{% csrf_token %}
        <div class="results">

            {% for attr in db_table_attrs %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="{{attr}}" name="attributes" id="{{attr}}" checked>
                <label class="form-check-label" for="{{attr}}">{{attr}}</label>
            </div>
            {% endfor %}
            <input type="hidden" name="selected_concepts" id="selected_concepts" value="
            {% for concept in chosen_concepts %}{{ concept.pk }}{% if not forloop.last %}&{% endif %}{% endfor %}">


        </div>
    </div>


    <div class="colM d-flex justify-content-center">
        <div class="submit-row p-2 my-2 text-center justify-content-center" style="max-width: 300px;">
            <button id="tillbaka" class="btn btn-danger btn-sm me-2">Tillbaka</button>
            <button type="submit" name="submit" class="btn btn-primary btn-sm">Exportera</button>
        </div>
    </div>

</form>

<script>

document.getElementById("tillbaka").addEventListener("click", go_back);


function go_back(event) {
    event.preventDefault();
    history.back();
};

</script>

{% endblock content %}
