    <div class="row justify-content-center">
        <div id="colour-panel" class="border rounded shadow statuscolours">
            <table class="status-padding">
                <caption class="sr-only">Status färg förklaringar</caption>
                <tbody>
                    <tr>
                        <td>
                            <span class="status-indicator table-success" aria-label="Beslutad eller definieras ej. Beslutad av Informatik och standardisering VGR">
                                <span class="text-smaller">
                                    Beslutad /<br>Definieras ej
                                </span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="status-indicator table-warning" aria-label="Pågår. Efterfrågat begrepp under handläggning">
                                <span class="text-smaller">
                                    Pågår
                                </span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="status-indicator table-danger" aria-label="Avråds eller avställd. Termen ska inte användas">
                                <span class="text-smaller">
                                    Avråds /<br>Avställd
                                </span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    