<div id="färg_panel" class="row justify-content-center border rounded shadow statuscolours d-none">
    <table class="status-padding">
    <tr>
      <td>
        <button type="button" class="btn buttonwidth table-success btn-sm">
          <span class="text-smaller">
            <div class="float-none" id="färg_förklaring" data-toggle="tooltip" data-placement="top" title="Beslutad av Informatik och standardisering VGR">
              Beslutad /<br>Definieras ej
            </div>
          </span>
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <button type="button" class="btn buttonwidth table-warning btn-sm">
          <span class="text-smaller">
            <div class="float-none" id="färg_förklaring" data-toggle="tooltip" data-placement="bottom" title="Efterfrågat begrepp under handläggning">
              Pågår
            </div>
          </span>
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <button type="button" class="btn buttonwidth table-danger btn-sm">
          <span class="text-smaller">
            <div class="float-none" id="färg_förklaring" data-toggle="tooltip" data-placement="bottom" title="Termen ska inte användas">
              Avråds /<br>Avställd
            </div>
          </span>
        </button>
      </td>
    </tr>
    </table>
    </div>